
<h2>Find which interval is played...</h2>
<div class="row">
	<div class="col-md-4 col-xs-12 controls">
		<span class="score">Score: 0/0</span>
	</div>
	<div class="col-md-4 col-xs-12 controls">
		<span class="btn btn-primary btn-lg col-xs-12 play">play interval</span>
	</div>
	<div class="col-md-4 col-xs-12 controls">
		<span class="btn btn-danger btn-lg col-xs-12 reset">new set up</span>
	</div>
</div>


<div class="row">
	<div id="intervals-minor-second" class="intervals col-md-3 col-xs-6">
		<span class="btn btn-default col-xs-12">Minor second</span>
	</div>

	<div id="intervals-second" class="intervals col-md-3 col-xs-6">
		<span class="btn btn-default col-xs-12">Second</span>
	</div>

	<div id="intervals-minor-third" class="intervals col-md-3 col-xs-6">
		<span class="btn btn-default col-xs-12">Minor third</span>
	</div>

	<div id="intervals-third" class="intervals col-md-3 col-xs-6">
		<span class="btn btn-default col-xs-12">Third</span>
	</div>
	
	<div id="intervals-fourth" class="intervals col-md-3 col-xs-6">
		<span class="btn btn-default col-xs-12">Fourth</span>
	</div>

	<div id="intervals-triton" class="intervals col-md-3 col-xs-6">
		<span class="btn btn-default col-xs-12">Triton</span>
	</div>
	
	<div id="intervals-fifth" class="intervals col-md-3 col-xs-6">
		<span class="btn btn-default col-xs-12">Fifth</span>
	</div>
	<div id="intervals-minor-sixth" class="intervals col-md-3 col-xs-6">
		<span class="btn btn-default col-xs-12">Minor six</span>
	</div>
	<div id="intervals-sixth" class="intervals col-md-3 col-xs-6">
		<span class="btn btn-default col-xs-12">Sixth</span>
	</div> 
	
	<div id="intervals-minor-seventh" class="intervals col-md-3 col-xs-6">
		<span class="btn btn-default col-xs-12">Minor seventh</span>
	</div>

	<div id="intervals-seventh" class="intervals col-md-3 col-xs-6">
		<span class="btn btn-default col-xs-12">Seventh</span>
	</div>

	<div id="intervals-octave" class="intervals col-md-3 col-xs-6">
		<span class="btn btn-default col-xs-12">Octave</span>
	</div>
</div>	

